services:
  rabbitmq:
    image:
      rabbitmq:3.13-management
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_LOOPBACK_USERS: "none"  # allow 'guest' from non-localhost

  forwarder:
    image:
      danzigereduard/rmq-to-rest-api-forwarder:$version$
    restart: unless-stopped
    environment:
      RabbitMQ__Service__HostName: rabbitmq
      NLog__variables__logdir: /app/logs
      NLog__variables__logname: RmqToRestApiForwarder
      NLog__targets__all-file__layout: '${date:format=yyyy-MM-dd HH\\:mm\\:ss.ffffffzzz} [${level:lowercase=true}] ${message}'
      NLog__targets__own-console__target__layout: '${date:format=yyyy-MM-dd HH\\:mm\\:ss.ffffffzzz} [${level:lowercase=true}] ${message}'
    depends_on:
      - rabbitmq
    volumes:
      - ./logs:/app/logs